<h2>Recipe for: <%= @recipe.name() %></h2>

<p><%= @recipe.instructions() %></p>

<h3>Ingredient list</h3>
<% if @recipe.ingredients().any?() %>
  <% @recipe.ingredients().each() do |ingredient| %>
    <a href="/ingredient/<%= ingredient.id() %>"><%= ingredient.name() %></a>
    <br>
  <% end %>
<% else %>
  <p>You haven't added any ingredients to this recipe yet.</p>
<% end %>

<h3>Average rating: <%= @recipe.average_rating %></h3>


<h3>Add ingredients to this recipe:</h3>

<form action:'/recipe/<%= @recipe.id() %>' method="post">
  <div class="form-group">
    <label for="ingredient_name">Enter an ingredient here</label>
    <input id="ingredient_name" name="ingredient_name" class="form-control" type="text">
  </div>

  <button type='submit' class='btn-danger'>Add ingredient</button>
</form>
