<h2>Recipe for: <%= @recipe.name() %></h2>

<p><%= @recipe.instructions() %></p>

<h3>Ingredient list</h3>
<% if @recipe.ingredients().any?() %>
  <% @recipe.ingredients().each() do |ingredient| %>
    <a href="/ingredient/<%= ingredient.id() %>"><%= ingredient.name() %></a>
    <br>
  <% end %>
<% else %>
  <p>You haven't added any ingredients to this recipe yet.</p>
<% end %>

<!-- <form action="/rating/<%= @recipe.id %>" method="post">
  <input type='radio' name='rating_value' id = 'zero' value='0'>0
  <input type='radio' name='rating_value' id = 'one' value='1'>1
  <input type='radio' name='rating_value' id = 'two' value='2'>2
  <input type='radio' name='rating_value' id = 'three' value='3'>3
  <input type='radio' name='rating_value' id = 'four' value='4'>4
  <input type='radio' name='rating_value' id = 'five' value='5'>5
  <button name="submit">Rate</button>
</form> -->
<% (1..5).each do |i| %>
<form action='/star/<%= @recipe.id %>/<%= i %>' method='post'>
  <div style="float:left">
  <% if i <= session[:num_stars] %>
    <button type="submit" style='border: none' class="btn btn-default">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
  <% else %>
    <button type="submit" style='border: none' class="btn btn-default">
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    </button>
  <% end %>
  </div>
</form>
<% end %>
<div style="clear:both"></div>
<h3>Average rating: <%= @recipe.mean_rating %></h3>


<h3>Add ingredients to this recipe:</h3>

<form action:'/recipe/<%= @recipe.id() %>' method="post">
  <div class="form-group">
    <label for="ingredient_name">Enter an ingredient here</label>
    <input id="ingredient_name" name="ingredient_name" class="form-control" type="text">
  </div>

  <button type='submit' class='btn-danger'>Add ingredient</button>
</form>
